/*
    (x, y, x)
    x:id选择器数量
    y:类、伪类、属性选择器数量
    z:元素、伪元素数量
*/

/* (1, 0, 0) 3 */
#list {
  color: red;
}
/* (0, 0, 1) 7 */
div {
  color: red;
}
/* (0, 1, 0) 6 */
.container {
  color: red;
}
/* (1, 1, 1) 2 */
.container #list::before {
  color: red;
}
/* (1, 1, 2) 1 */
.container #list a::before {
  color: red;
}
/* (0, 3, 1) 4 */
.container .form input[type="text"] {
  color: red;
}
.container ul a:hover {
  /* (0, 2, 2) 5 */
  color: red;
}
